/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank

$toc-navi-title-color: #898989 !default;
$toc-navi-background-color: #ffffff !default;
$toc-background-color: #ffffff !default;